/.metadata/
COAP-MQTT-NODERED/nodered/data/.npm/*
COAP-MQTT-NODERED/nodered/data/node_modules
COAP-MQTT-NODERED/nodered/data/*.backup
COAP-MQTT-NODERED/nodered-custom/data/*.backup
COAP-MQTT-NODERED/nodered-custom/data/.npm/*